/******* GLOBAL CSS *******/

html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    min-height: 100%;
    color: #333333;
    background-color: #ececec;
    font-family: calibri;
    font-size: 90%;
    overflow: hidden;
}

h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}

/****** CSS FOR DYNATREE ******/
#leftTree {
    padding-left: 15px;
    margin-top: 5px;
}

/****** CSS FOR LOGIN SCREEN ******/

.loginViewContainerCSS {
    padding: 15px 20px 10px 10px;
}

.legendCSS {
    padding: 0px 0px 0px 0px;
}

/******* CSS FOR HEADER STARTS HERE ********/

.header {
    position: relative;
    top: 0px;
    clear: both;
    float: left;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #343434;

}

.logo {
    padding: 25px 0 0 0;
    /*
        padding: 15px 20px 10px 10px;
    */
    overflow: hidden;
    /*background-image: 'url("'+EngineGraphicsData.getBaseUrl()+'+")';*/
    /*
        background-image: url("/delivery/pages/mrm/graphics/screens/home/images/cs_logo.png");
    */
}

.profileLogo {
    margin: 0 0 0 0;
    float: right;
    visibility: hidden;
}

.wrapper {
    float: right;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 4px solid white;
    overflow: hidden;
    margin: 5px 35px 0 0;
    visibility: hidden;
}

.logobounce {
    height: 64px;
    width: 400px;
    float: left;
}

.logoutdiv {
    height: 40px;
    width: 70px;
    float: right;
    top: 0px;
}

.animatedbounce {
    margin: 17px 0 0 10px;
    height: 30%;
    width: 70%;
}

.logout {
    border: #fbb450;
    float: right;
    margin: 18px 15px 0 0;
    visibility: hidden;
    width: 70px;
}

.logoutBtnCSS {
    border: #fbb450;
    float: right;
    margin: 15px 10px 0px 0px;
}

/******* CSS FOR HEADER  ENDS HERE ********/


/****** CSS FOR FOOTER ******/

.footer {
    position: relative;
    background-image: url('/delivery/pages/pub/graphics/screens/home/images/grad.png');
    height: 27px;
    width: 100%;
    border-top: 1px solid rgb(187, 187, 187);
    border-left: 1px solid rgb(187, 187, 187);
    border-right: 1px solid rgb(187, 187, 187);
    border-bottom: 1px solid rgb(187, 187, 187);
    float: left;
    top: 0px;
}

#footertxt {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-family: calibri;
}

/****** CSS FOR DARK GREY BAR ON THE LEFT (CURRENTLY REMOVED-OHD VERSION)*******/

#leftbar {
    width: 25px;
    background-color: #262626;
    float: left;
    height: 100%;
}

/******* CSS FOR DIV CONTAINING LEFT AND RIGHT PANELS *******/

.colmask {
    position: relative;
    float: left;
    min-width: 500px;
    width: 100%;
    height: 600px !important;
}


/******* CSS FOR SELECT VIEW (CURRENTLY DISABLED_OHD VERSION) *******/

.mainAnimationContainerCSS {
    vertical-align: middle;
    background-color: white;
    min-height: 35px;
    height: auto;
    padding: 3px;
    display: none;
    border-bottom: 1px solid #bbbbbb;
}

.selectLblCSS {
    text-align: center;
    background-image: url('/delivery/pages/pub/graphics/screens/home/images/grad.png');
    background-repeat: repeat-x;
    font-family:tahoma;
    font-size: 12px;
    height: auto;
    color: #505050;
    font-weight: bolder;
    cursor: pointer;
}

#viewOptionNew{
    width: 150px;
    height: 24px;
    overflow: hidden;
    float: right;
    right: 10px;
    position: absolute;
    display: none;
}


/******* CSS FOR CONTAINER HOLDING COLMASK *******/

.mainContainer {
    height: 630px;
    float: left;
    position: relative;
    width: 100%;
    margin-top: 0px;
    overflow: auto;
    border-bottom: 1px solid #bbb;
}


/******* CSS FOR LEFT PANEL CONTAINING TREE *******/

#leftPanel {
    width:100%;
    height: 100%;
    float:left;
    position: relative;
    background-color: white;
    min-height: 600px;
    overflow:auto;
    margin-left: 0px;
    margin-top: 0px;
}

/********** OVERRIDDEN CSS FOR DYNATREE ICONS ***********/


.dynatree-ico-ef span.dynatree-icon {
    background-image: url("../images/icons/520610-folder-16.png");
    background-position: 0 0 !important;
    opacity: .8;
}

.dynatree-ico-cf span.dynatree-icon {
    background-image: url("../images/icons/520611-folder_2-16.png");
    background-position: 0 0 !important;
    opacity: .8;
}

/********* CSS FOR MAC-LIKE BUTTONS STARTS **********/

.jqx-fill-state-pressed{
    background-color: #777777 !important;
}

.pure-button-error {
    background: none repeat scroll 0% 0% rgb(202, 60, 60);
}
.pure-button-success, .pure-button-error, .pure-button-warning, .pure-button-secondary {
    color: white;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button ,  .pure-button1{
    font-family: inherit;
    font-weight: bold;
    padding: 4px 12px 4px 10px !important;
    margin: -2px !important;
    font-size: 11px !important;
    color: rgba(0, 0, 0, 0.8);
    border: 0px none transparent;
    background-color: rgb(245, 245, 245);
    text-decoration: none;
    border-radius: 0px 0px 0px 0px;
    transition: box-shadow 0.1s linear 0s;
}

.pure-button-left {
    border-radius: 10px 0px 0px 10px !important;
}

.pure-button-right {
    border-radius: 0px 10px 10px 0px !important;
}


.pure-button-single {
    border-radius: 10px 10px 10px 10px !important;
}

.pure-button:focus {
    outline: 0px none;
}
a.pure-button:hover, .pure-button-hover, .pure-button:hover, .pure-button1-hover, .pure-button1:hover{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
    color: #343434;
    text-decoration: none;
}

a.pure-button:focus, .pure-button:focus, .calendarButtonPressed{
    background-image: linear-gradient(#777777, #343434);
    color: white;
    transition: box-shadow 0.1s linear 0s;
    text-decoration: none;
}

.pure-button {
    font-family: inherit;
}

.pure-button:active, a.pure-button:active {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .4) inset;
    transition: box-shadow 0.1s linear 0s;
}

.pure-button-active, a.pure-button-active {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.35) inset, 0px 0px 3px rgba(0, 0, 0, 0.2) inset;
    transition: box-shadow 0.1s linear 0s;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input {
    line-height: normal;
}

html, button, input, select, textarea {
    font-family: sans-serif;
}

ul.clearfix
{
    list-style-type:   none ;
    left: 0;
}

li.csIsotopeFilters,li#targetRegionText,li#targetGroupText{
    float: left;
    margin-bottom: 0.2em;
    padding: 0px;
    border:0px;
    left:70px !important;
    font: inherit;
    vertical-align: baseline;
}

li#targetRegionText , li#targetGroupText{
    margin-top: 3px;
    font-family: tahoma;
    font-weight: bold;
    font-size: 11px;
}

#targetGroupText, #targetRegionText{
    font-size: 11px;
    font-weight: bold;
    font-family: tahoma;
    width: 100px;
    left:0;
}

.option-combo{
    margin-top: 0px;
    position: absolute;
    width: auto;
}

.option-set{
    width: 300px;
    float: right;
    right: 0px;
}

.targetGroup{
    float: right;
    right: 120px;
}

#targetText{
    padding-top: 3px;
    padding-right: 10px;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
}

.btn-custom-mini{
    line-height: 10px;
    height: 10px;
}

.bootstrap-select.btn-group .dropdown-menu li > a {
    border-bottom: 1px solid #dddddd;
    width: 100%;
}

.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
    margin-left: 7px !important;
}

/********* CSS FOR MAC-LIKE BUTTONS ENDS **********/


/******** OVERRIDDEN CSS FOR JQX SCROLL BARS ********/

.jqx-icon-arrow-right{
    background-image: url('../images/arr_right.png') !important;
    opacity: .6;
}

.jqx-icon-arrow-left{
    background-image: url('../images/arr-left.png') !important;
    opacity: .6;
}

.jqx-icon-arrow-up{
    background-image: url('../images/arr-up.png') !important;
    opacity: .6;
}

.jqx-icon-arrow-down{
    background-image: url('../images/arr-down.png') !important;
    opacity: .6;
}

#btnSaveAssort{
    float: left;
    background-position: 2px 2px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-left: 10px;
}

h2.openRules{
    background-image:url('../images/openRules.png');
    height: 15px;
    width: 15px;
    left: 5px ;
    margin-bottom: 15px;
    position: absolute;
    bottom: -10px;
    left: 5px;
    cursor:pointer;
}

#listBoxContentassetDetails{
    height: 100% !important;
}

.region{
    float:right;
    right: 470px;
}


.selectboxit-container .selectboxit-options {
    height:auto;
    max-height: 150px;
    max-width: 40%;
}

.template{
    min-width:180px !important;
    max-width: 180px !important;
    white-space: normal;
}

/******** CSS FOR DROPDOWN BOXIT (RULES) *********/

.selectboxit-container .selectboxit {
    margin: 5px 5px 0 5px !important;
    min-width:150px;
    max-width: 150px;
}

.selectboxit-container *{
    font-size: 12px !important;
}

.selectboxit-arrow-container {
    border-left: 1px solid #ccc;
}

td > img{
    max-height: 45px !important;
}
