/********* CSS FOR RIGHT SLIDING PANEL WITH MENU BAR **********/

#rightMenuBar {
    z-index: 1000;
    position: fixed;
    width: 29px;
    height:600px;
    float: right;
    right: 1px;
    top:28px;
    background-color: #373737;
    border-left: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
}


/**** Panel Containing PIM/MAM Tree, Products and Search ****/

#panel {
    text-align: center;
    color: #505050;
    font-family: tahoma;
    font-weight: bold;
    font-size: 12px;
    background-color: #EEEEEE;
    border: 0px;
    position: fixed;
    right: -200px;
    padding: 0px;
    z-index: 9;
    height:595px;
    width: 200px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    transition: visibility 1s;
    display: none;

}

#templateDropDown{
    width: 200px;
}

/**** Header for Panel ****/

.assetType {
    padding-top: 5px;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #BBBBBB;
    top: 0px;
    background-image: url(../images/icons/grad.png);
    background-size: auto;
    background-repeat: repeat-x;
}

#typeHolder {
    font-weight: bolder;
    width: 100%;
    height: 27px;
    border-bottom: 1px solid #BBBBBB;
    top: 0px;
    background-image: url(../images/icons/grad.png);
    background-size: contain;
    background-repeat: repeat-x;
}

#assetSearch {
    width: 90%;
    height: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#assetsTree {
    overflow-x: auto;
    overflow-y: scroll;
    font-weight: lighter;
    margin-top: 5px;
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    top: 0px;
    width: 100%;
    height: 280px;
    text-align: left;
}

#assetDetails {
    overflow-x: auto;
    font-weight: lighter;
    font-style: italic;
    margin-top: 3px;
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    top: 0px;
    width: 100%;
    height: 220px;
}

#assetSearch input {
    margin-left: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 98%;
}

/**** PIM MAM MIM Buttons ****/

.rightMenu {
    border-bottom: 1px solid #BBBBBB;
    width: 30px;
    height: 30px;
}

#btnPIM {
    background-image: url("../images/icons/PIM.png");
}

#btnMIM {
    background-image: url("../images/icons/MIM.png");
}

#btnMAM {
    background-image: url("../images/icons/MAM.png");
}

/******** Tile, List and Detail View Item Renderer CSS Section Starts **********/

.tileBtnCSS {
    /*background: 'url("'+EngineDataStore.getBaseURL()+'graphics/screens/home/images/icons/tile.png")';*/
    background-image: url("../images/icons/tile.png");
    background-repeat: no-repeat;
    border: 0px;
    width: 28px;
    height: 22px;
    margin-top: 2px;
    float: right;
    margin-right: 0px;
}

.listBtnCSS {
    /*background: 'url("'+EngineDataStore.getBaseURL()+'graphics/screens/home/images/icons/list.png")';*/
    background-image: url("../images/icons/list.png");
    background-repeat: no-repeat;
    border: 0px;
    width: 28px;
    height: 22px;
    margin-top: 2px;
    float: right;
    margin-right: 6px;
}

.detailBtnCSS {
    /*background: 'url("'+EngineDataStore.getBaseURL()+'graphics/screens/home/images/icons/detail.png")';*/
    background-image: url("../images/icons/detail.png");
    background-repeat: no-repeat;
    border: 0px;
    width: 28px;
    height: 22px;
    margin-top: 2px;
    float: right;
    margin-right: 6px;
}

.tileImgCSS {
    position: absolute;
    top: 50px;
    left: 40px;
    height: 27px;
    width: 60px;
}

.listImgCSS {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 13px;
    width: 30px;
}

.detailImgCSS {
    position: relative;
    top: 10px;
    margin-left: 5px;
    float: left;
    height: 70px;
    width: 70px;
}

.tileListViewImgTxtCSS {
    position: absolute;
    bottom: 0px;
    font-size: 16px;
    text-align: center;
    left: 45px;
}

.tileViewImgTxtCSS {
    position: absolute;
    font-size: 12px;
    text-align: center;
    left: -1px;
    bottom: -12px;
    width: 100%;
    border-top: 1px dotted #303030;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.detailTitleTxtCSS {
    position: relative;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
    height: auto;
    width: auto;
}

.detailContentTxtCSS {
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    width: auto;
    height: auto;
    float: left;
    height: auto;
}

.detailTitleContent {
    position: relative;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
    height: auto;
    width: auto;
}

.tileDivCSS {
    position: relative;
    float: left;
    height: 160px;
    width: 128px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #BBBBBB;
    border-radius: 12px;
    background-color: #DFDFDF;
}

.listDivCSS {
    position: relative;
    background-color: #DFDFDF;
    float: left;
    height: 35px;
    width: 95%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #BBBBBB;
    border-radius: 12px;
}

.detailDivCSS {
    position: relative;
    background-color: #DFDFDF;
    border: 1px solid #BBBBBB;
    border-radius: 12px;
    float: left;
    height: auto;
    width: 95%;
    padding: 5px;
    margin: 5px;
}

.viewOptionCSS {
    position: relative;
    background-repeat: repeat-x;
    padding-top: 2px;
    float: left;
    height: 28px;
    width: 100%;
    border-bottom: 1px solid #BBBBBB;
    background-image: linear-gradient(rgb(248, 248, 248), rgb(228, 229, 231));
    /*background: 'url("'+EngineDataStore.getBaseURL()+'graphics/screens/home/images/icons/tile.png")';*/
}

/******* CSS OVERRIDING JQX LIST (LIST IN ASSORTMENT PANEL AND DETAILS OF ITEMS FROM PIM MAM TREE) *********/
.jqx-listitem-state-normal {
    height: 58px !important;
    position: relative !important;
    border: 1px solid #BBBBBB !important;
    float: left !important;
    margin: 1px !important;
    font-family: tahoma !important;
    width: 72% !important;
    background-image: linear-gradient(left bottom,  #fefefc 15%, #ededeb 100%) !important) ;
    background-image: -o-linear-gradient(left bottom,  #fefefc 15%, #ededeb 100%) !important);
    background-image: -moz-linear-gradient(left bottom, #fefefc 15%, #ededeb 100%) !important;
    background-image: -webkit-linear-gradient(left bottom, #fefefc 15%, #ededeb 100%) !important);
    background-image: -ms-linear-gradient(left bottom,  #fefefc 15%, #ededeb 100%) !important);
    box-shadow: 2px 2px 7px 2px #bbb !important;
}

.jqx-listitem-element{
    height: 60px !important;
}

td > img{
    max-height: 45px !important;
}
