/********** OVERRIDDEN CSS FOR DROPDOWN ***********/

.btn-group > .dropdown-menu {
    font-size: 11px;
    padding: 0;
}

.dropdown-menu > .inner{
    font-size: 12px;
}

/******** OVERRIDDEN CSS  FOR BOOTSTRAP BUTTONS *********/

.btn-group{
    margin: 0 auto !important;
    top:0px;
}

.btn-group > .btn{
    font-size: 12px;
    line-height: 14px;
    font-family: tahoma;
}

#mainAnimationContainer > .bootstrap-select:not([class*="span"]){
    width: 200px;
    left: 10px;
    float: left;
}

/******** OVERRIDEN CSS FOR POPUP *********/

.ui-dialog-titlebar-close{
    background-image: url(../images/_close.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    background-size: 10px 10px;
    border-radius: 4px;
    width: 14px !important;
    height: 14px !important;
    border: 0;
    margin-top: -8px !important;
    margin-right: 3px !important;
    transition: all .1s ease-in;
}

.ui-dialog-titlebar-close:hover{
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.4);
}

.ui-dialog .ui-dialog-buttonpane button{
    border-radius: 4px;
    height:20px;
    border: 0;
    color:#555555;
    transition: all .1s ease-in;
}

.ui-dialog .ui-dialog-buttonpane button:hover{
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.4);
}

.ui-dialog-titlebar {
    text-align: center;
    height: 25px !important;
    font-size: 11px !important;
}

.ui-dialog-title {
    text-align: center !important;
    float: none !important;
}

.ui-dialog-content {
    overflow: hidden !important;
    text-align: center;
    line-height: 18px;
}

.ui-widget-header{
    background-color: #343434;
    background-image: none !important;
    color: white;
    border: none !important;
}

.ui-dialog-buttonpane{
    padding:0px !important;
    background-color: #c9c9c9 !important;
}

.ui-widget{
    font-size: 11px !important;
    background-color: #fff !important;
    z-index: 950 !important;

}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    margin:0 auto;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #FFFFFF;
    color: #4D4D4F;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #16A170;
    background-image: linear-gradient(to bottom, #17AA76, #149466);
    background-repeat: repeat-x;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}

/********* CSS FOR PAGE STUFF STARTS **********/

.masterPage {
    z-index: 100;
    width: 125px;
    height: 177px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    position: relative;
    color: #222;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);
    overflow: visible;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: cover;
    background-repeat:no-repeat;
}

.childPages {
    width: 125px;
    height: 177px;
    padding: 0;
    margin-left: 20px;
    margin-top: 20px;
    color: #222;
    background: transparent;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.childPages > .inner {
    width: 110px;
    height: 155px;
    border-top-right-radius:10px ;
    left: 7px;
    bottom: 2px;
    position: absolute;
    margin: 0px !important;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);
    color: #222;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.masterPage.odd {
    background-color: #638FDB;
}

.masterPage.even {
    background-color: #B8BFDB;
}

.childPages.odd.inner {
    background-color: #82A2D8;
}

.childPages.even.inner {
    background-color: #C9CDDB;
}

.popupImage{
    position:absolute;
    height:17px;
    top:2%;
    left:80%;
    margin:10px
    -webkit-transition: box-shadow 0.5s ease-in;
    -moz-transition: box-shadow 0.5s ease-in;
    -ms-transition: box-shadow 0.5s ease-in;
    -o-transition: box-shadow 0.5s ease-in;
    transition: box-shadow 0.5s ease-in;
}

.popupImage.urlInjected{
    box-shadow: 0 0 10px white, 0 0 10px white;
}

.popupImage:hover{
    box-shadow: 0 0 10px white, 0 0 10px white;
    cursor:pointer;
}

.masterPage > .type {
    line-height: 1.5em;
    bottom: 20%;
    left:5px;
    font-size: 11px;
    position: absolute;
}

.childPageName {
    margin-top:5px;
    font-size: 15px;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 5px;
    font-family: tahoma;
    font-weight: bold;
    text-shadow: 1px 1px 2px grey;
    color: #FFF;
}

.childPagesText{
    margin:5px;
    font-size : 9px;
    line-height: 8px;
}

.masterPage.rules-opened {
    z-index: 100;
    background: #7894C4;
    box-shadow: 0px 0px 600px 10px #000 inset;
    height: 374px;
    width: 415px;
    background-repeat:no-repeat;
    background-size: cover;
}

.open {
    position: absolute;
}

.selected {
    border-bottom: 1px solid #d1d1d1;
}

.buttonsHolder{
    background-color: black;
    opacity: 0.6;
    position:absolute;
    top:85%;
    width:100%;
    height:15%;
}


h2.expand {
    cursor:pointer;
    position: absolute;
    right: 5px ;
    bottom: -5px ;
    line-height: 25px;
    height: 15px;
    width: 15px;
    background-image:url('../images/expand.png');
    background-position: -10px -10px;
    display: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loading-overlay {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
}

.loading-message {
    z-index: 250;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 31%;
    left: 35%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/********* CSS FOR PAGE STUFF ENDS **********/

/********* CSS FOR RULE STUFF STARTS *********/

.rule {
    height: 100%;
    width: 100%;
    color: black;
    top: 1px;
    position: absolute;
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.rulesFront {
    margin: 0 0 0 55%;
}

.operation {
    padding: 0px;
    width: 41px;
    margin: 0.5px;
    min-width:50px !important;
    max-width: 50px !important;
}

.groupType {
    margin: 0.5px;
    width: 108px;
    min-width:100px !important;
    max-width: 110px !important;
}

.value {
    margin: 0.5px;
    width: 109px;
    min-width:75px !important;
    max-width: 100px !important;
}

.buttons {
    position: relative;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    color:white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.buttons:hover{
    cursor: pointer;
    text-shadow: 0 0 3px white !important;
}

.then > .buttons{
    padding: 0px 2px 2px 10px;
    text-shadow: 0px 0px 1px white;
}



.thenChild {
    position: relative;
    width: 100%;
    border-bottom: 1px dashed white;
    padding: 5px;
}

.then {
    /*width: 100%;*/
    /*z-index: 25;*/
}

.whenChild {
    position: relative;
    padding-left: 20px;
    margin: 5px;
}

.backButtonClass {
    position: absolute;
    top: 2px;
    right: 4px;
}

h2.close:hover {
    opacity: 0.9;
    color: red;
    text-shadow: 0 0 2px red, 0 0 2px red;
}

h2.close {
    position: absolute;
    top: -2px;
    right: 3%;
    z-index: 30;
    line-height: 0px;
    opacity: 1;
    color: #de0000;
    font-size: 16px;
    text-shadow: 0 0px 0 darkred;
    -webkit-transition: text-shadow 0.2s ease-in;
    -moz-transition: text-shadow 0.2s ease-in;
    -ms-transition: text-shadow 0.2s ease-in;
    -o-transition: text-shadow 0.2s ease-in;
    transition: text-shadow 0.2s ease-in;
}

img.addNewThen {
    /*font-size: 22px;*/
    margin: 1px 0 0 1px;
    line-height: 0px;
    top: 2%;
    left: 2%;
    position: absolute;
    cursor: pointer;
    float: left;
    width: 5%;
    z-index:31;
}

img.save:hover {
    box-shadow: 0 0 4px white;
}

img.save {
    box-shadow: 0px 0px 2px white;
    line-height: 0px;
    top: 2.1%;
    left: 9%;
    position: absolute;
    cursor: pointer;
    float: left;
    height: 17px;
    z-index:31;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    -ms-transition: box-shadow 0.2s ease-in;
    -o-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.rulesButtonsHolder{
    background-color: black;
    opacity: 0.6;
    position:absolute;
    top:0%;
    width:100%;
    height:10%;
    z-index: 30;
}

.buttons.remove,.buttons.addCondition{
    top:10px;
}


/********* CSS FOR RULE STUFF ENDS **********/

/********* CSS FOR DIMENSION STUFF STARTS **********/

.dimension , .chapter, .assortmentItem{
    text-wrap: normal;
    width: 125px;
    height: 177px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    position: relative;
    background: #888;
    color: #222;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-repeat:no-repeat;
}

.dimension {
    -webkit-border-top-right-radius: 1.2em;
    -moz-border-radius-topright: 1.2em;
}

.chapter.even{
    background-image: linear-gradient(left bottom, #8ebb8b 22%, #afdda9 61%);
    background-image: -o-linear-gradient(left bottom, #8ebb8b 22%, #afdda9 61%);
    background-image: -moz-linear-gradient(left bottom, #8ebb8b 22%, #afdda9 61%);
    background-image: -webkit-linear-gradient(left bottom, #8ebb8b 22%, #afdda9 61%);
    background-image: -ms-linear-gradient(left bottom, #8ebb8b 22%, #afdda9 61%);
}

.chapter.odd{
    background-image: linear-gradient(left bottom, #8ebf8c 22%, #a6d3a2 61%);
    background-image: -o-linear-gradient(left bottom,#8ebf8c 22%, #a6d3a2 61%);
    background-image: -moz-linear-gradient(left bottom,#8ebf8c 22%, #a6d3a2 61%);
    background-image: -webkit-linear-gradient(left bottom,#8ebf8c 22%, #a6d3a2 61%);
    background-image: -ms-linear-gradient(left bottom,#8ebf8c 22%, #a6d3a2 61%);
}

.assortmentItem.even{
    background-image: linear-gradient(left bottom, #9d8c82 2%, #b8a7a3 51%, #d4a7a5 76%);
    background-image: -o-linear-gradient(left bottom, #9d8c82 2%, #b8a7a3 51%, #d4a7a5 76%);
    background-image: -moz-linear-gradient(left bottom, #9d8c82 2%, #b8a7a3 51%, #d4a7a5 76%);
    background-image: -webkit-linear-gradient(left bottom, #9d8c82 2%, #b8a7a3 51%, #d4a7a5 76%);
    background-image: -ms-linear-gradient(left bottom, #9d8c82 2%, #b8a7a3 51%, #d4a7a5 76%);
}

.assortmentItem.odd{
    background-image: linear-gradient(left bottom, #83736b 2%, #9c8b87 51%, #ba8f8d 76%);
    background-image: -o-linear-gradient(left bottom, #83736b 2%, #9c8b87 51%, #ba8f8d 76%);
    background-image: -moz-linear-gradient(left bottom, #83736b 2%, #9c8b87 51%, #ba8f8d 76%);
    background-image: -webkit-linear-gradient(left bottom, #83736b 2%, #9c8b87 51%, #ba8f8d 76%);
    background-image: -ms-linear-gradient(left bottom, #83736b 2%, #9c8b87 51%, #ba8f8d 76%);
}

.dimension.even{
    background-image: linear-gradient(left bottom, #b0b0ae 40%, #d7d7d7 70%, #d8d8d8 90%);
    background-image: -o-linear-gradient(left bottom, #b0b0ae 40%, #d7d7d7 70%, #d8d8d8 90%);
    background-image: -moz-linear-gradient(left bottom, #b0b0ae 40%, #d7d7d7 70%, #d8d8d8 90%);
    background-image: -webkit-linear-gradient(left bottom, #b0b0ae 40%, #d7d7d7 70%, #d8d8d8 90%);
    background-image: -ms-linear-gradient(left bottom, #b0b0ae 40%, #d7d7d7 70%, #d8d8d8 90%);
}

.dimension.odd{
    background-image: linear-gradient(left bottom, #aeaeac 40%, #c3c3c1 70%, #d3d3d1 90%);
    background-image: -o-linear-gradient(left bottom, #aeaeac 40%, #c3c3c1 70%, #d3d3d1 90%);
    background-image: -moz-linear-gradient(left bottom, #aeaeac 40%, #c3c3c1 70%, #d3d3d1 90%);
    background-image: -webkit-linear-gradient(left bottom, #aeaeac 40%, #c3c3c1 70%, #d3d3d1 90%);
    background-image: -ms-linear-gradient(left bottom, #aeaeac 40%, #c3c3c1 70%, #d3d3d1 90%);
}

.dimension * {
    margin: 0;
}

.type {
    line-height: 1.5em;
    bottom: 17px;
    left: 0.5em;
    font-size: 11px;
    font-family: tahoma;
    position: absolute;
    word-break: break-all;
    text-shadow: 1px 1px 2px grey;
}

.name {
    font-size: 15px;
    line-height: 1.2em;
    font-family: tahoma;
    word-break: break-all;
    text-shadow: 1px 1px 1px #343434;
    color: #FFF;
    width: 80%;
    margin: 7%;
}

#showAllPagesBtn{
    width: auto;
    height: 21px;
    position: absolute;
    float: right;
    margin-top: 1px !important;
    right: 10px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/********* CSS FOR DIMENSION STUFF ENDS **********/

/********* CSS FOR ISOTOPE STUFF STARTS **********/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/********* CSS FOR ISOTOPE STUFF ENDS **********/

#dialog-confirm,#dialog-incorrect-rules,#dialog-rules-save-successfull{
    display:none;
}


/******* CSS FOR RIGHT PANEL *******/

#rightPanel {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    float: left;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#rightPanelView {
    height: 100%;
    width: 98.5%;
    float: left;
    position: relative;
    overflow-x: hidden;
}


/******* CSS FOR DIV ABOVE RIGHT PANEL VIEW *******/

#dim {
    position: relative;
    float: left;
    background-color: white;
    margin-left: 0;
    width: 100%;
    margin-right:0;
    height: 100%;
}

.viewHolderCSS {
    padding: 0px;
    position: relative;
    float: left;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    min-height: 550px;
}


/********* CSS FOR ASSORT PANEL STARTS ************/

#assortPanel {
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid #999999;
    position: relative;
    float: left;
    width: 70%;
    height:585px;
    display: none;
    background-image: url('../images/drag_and_drop.jpg');
    background-repeat: no-repeat;
    z-index: 9999;
    background-position: 30% 30%;
}

#assortPanelHeader {
    position: relative;
    width: 100%;
    margin-top: 0px;
    height: 30px;
    background-color: #EEEEEE;
    text-align: center;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bolder;
}

#subtab1 {
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    text-align: center;
    float: left;
    position: relative;
    width: 100% !important;
    height: 548px !important;
    margin-top: 0px;
    background-image: url('../images/drag_and_drop.jpg');
    background-repeat: no-repeat;
    z-index: 9999;
    background-position: 50% 50%;

}

#subtab2 {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}

/******** CSS FOR DROPDOWN BOXIT (RULES) *********/

.selectboxit-container .selectboxit {
    margin: 5px 5px 0 5px !important;
    min-width:150px;
    max-width: 150px;
}

.selectboxit-container *{
    font-size: 12px !important;
}

.selectboxit-arrow-container {
    border-left: 1px solid #ccc;
}



/********* CSS FOR ASSORT PANEL ENDS ************/







/********* CSS FOR PAPER-STACK EFFECT ***********/
/*

.paper-stack {
    z-index: 1;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);
}



.paper-stack::after {
    z-index: -1;
    content: "";
    display: block;
    width: 120px;
    height: 160px;
    background-color: white;
    position: absolute;
    left: 5px;
    top: 5px;
    border: 0px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.paper-stack::before {
    z-index: -2;
    content: "";
    width: 120px;
    height: 160px;
    background-color: red;
    position: absolute;
    left: -5px;
    top: -5px;
    border: 0px solid black;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);

}
*/