body {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 600px;
    width: 100%;
    height: auto;
    color: #333333;
    background-color: #ffffff;
    font-size: 10px;
    overflow: scroll;
}

#editTagsdialog {
    /* width:600px;
     margin:50px auto;*/
    display: none;
}


.assestsJQList {
    position: relative;
}

/****** CSS FOR LOGIN SCREEN ******/

.loginViewContainerCSS {
    padding: 15px 20px 10px 10px;
}

.legendCSS {
    padding: 0px 0px 0px 0px;
}

/******* CSS FOR HEADER STARTS HERE ********/

.header {
    position: relative;
    top: 0px;
    clear: both;
    float: left;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #343434;

}

.logo {
    padding: 25px 0 0 0;
    /*
        padding: 15px 20px 10px 10px;
    */
    overflow: hidden;
    /*background-image: 'url("'+EngineGraphicsData.getBaseUrl()+'+")';*/
    /*
        background-image: url("/delivery/pages/mrm/graphics/screens/home/images/cs_logo.png");
    */
}

.profileLogo {
    margin: 0 0 0 0;
    float: right;
    visibility: hidden;
}

.wrapper {
    float: right;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 4px solid white;
    overflow: hidden;
    margin: 5px 35px 0 0;
    visibility: hidden;
}

.logobounce {
    height: 64px;
    width: 400px;
    float: left;
}

.logoutdiv {
    height: 40px;
    width: 70px;
    float: right;
    top: 0px;
}

.animatedbounce {
    margin: 17px 0 0 10px;
    height: 30%;
    width: 70%;
}

.logout {
    border: #fbb450;
    float: right;
    margin: 18px 15px 0 0;
    visibility: hidden;
    width: 70px;
}

.logoutBtnCSS {
    border: #fbb450;
    float: right;
    margin: 15px 10px 0px 0px;
}

/******* CSS FOR HEADER  ENDS HERE ********/

/******* CSS FOR FOOTER *********/

.footer {
    font-family: tahoma;
    text-align: center;
    position: relative;
    background-color: #555555;
    height: 27px;
    color: white;
    font-size: 12px;
    width: 100%;
    border: 1px solid rgb(187, 187, 187);
    float: left;
    top: 0px;
}

#footertxt {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}

a {
    color: #555;
    text-decoration: underline;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}

/***** SPAN WHICH HOLDS BUTTONS IN GROUP ******/

#homeListCalendarView {
    margin-left: -1%;
    position: relative;
    width: 200px;
    height: 22px;
    text-align: left;
}

#yearMonthWeek {
    visibility: hidden;
    margin-left: 35%;
    width: 20%;
    position: relative;
    text-align: center;
}

#prevTodayNext {
    visibility: hidden;
    margin-right: 2%;
    float: right;
}

/****** BAR WHICH HOLDS ALL THE BUTTONS *******/

#ganttBtnHolder {
    background-image: linear-gradient(#f8f8f8, #e4e5e7);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    height: 20px;
    border: 1px solid #c5c5c5;
    padding: 5px;
    padding-left: 5px;
    overflow: hidden;
}

.mainContainer {
    float: left;
    position: relative;
    width: 100%;
    min-height: 570px;
    height: auto;
    margin-top: 0px;
    overflow: hidden;
}

select {
    height: 25px !important;
    font-size: 12px !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-color: #ffffff !important;
    *zoom: 1;
}

#mediaView {
    border-radius: 5px;
    border: 1px solid #149bdf;
    height: 300px;
    width: 500px;
    background-color: lightcyan;
    background-image: url(../images/magazine.jpg);
    margin: 0px auto;
}

#mrmGanttChart {
    min-height: 285px;
    height: 100%;
    width: 100%;
    z-index: 9;
}

.inputDate {
    width: 80% !important;
}

.labelOfPopup {
    font-size: 11px;
    width: 100% !important;
}

#dateAligner {
    height: 66px;
}

#dateAligner div {
    position: relative !important;
    width: 49% !important;

}

#endDateAligner {
    top: -63px !important;
    left: 250px;
}

#currencyAligner {
    top: -38px !important;
    left: 250px;
    width: 20% !important;
}

#currency {
    width: 40% !important;
    height: 27px !important;
}

/******** JQUERY-UI.CSS OVERRIDDEN CSS STARTS (CSS FOR POPUP, CALENDAR ETC.) *********/

.ui-datepicker-year {
    height: 17px !important;
    font-size: 11px !important;
    padding: 0 !important;
    width: 40% !important;
}

.ui-dialog-titlebar {
    height: 16px !important;
    font-size: 13px !important;
}

.ui-dialog-title {
    text-align: center !important;
    float: none !important;
}

.ui-dialog-content {
    padding: 10px !important;
    padding-top: 0px !important;
}

.ui-widget-header {
    background-color: #343434;
    background-image: none !important;
    color: white;
    border: none !important;
}

.ui-dialog-buttonpane {
    background-color: #c9c9c9 !important;
}

.ui-dialog {
    z-index: 99999 !important;
}

.ui-widget-overlay {
    background-color: #343434 !important;
    opacity: .8 !important;
    background-repeat: repeat;

}

/******** JQUERY-UI.CSS OVERRIDDEN CSS ENDS *********/

/******** CSS FOR POPUP STARTS **********/

label, input {
    display: block;
}

input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
    height: 15px !important;
}

fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

h1 {
    font-size: 1.2em;
    margin: .6em 0;
}

div#users-contain {
    width: 350px;
    margin: 20px 0;
}

div#users-contain table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}

div#users-contain table td, div#users-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0;
    top: 5px
}

/******** CSS FOR POPUP ENDS **********/

/*********** USE THIS SECTION FOR OTHER THEME FOR BUTTONS ***********/
/*

.pure-button {
    font-size: 11px !important;
    padding: 0.5em 1.5em;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #808080 ;
    background-color: #343434;
    text-decoration: none;
    border-radius: 0px 0px 0px 0px;
    transition: box-shadow 0.1s linear 0s;
}

.pure-button-hover, .pure-button:hover{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
    color: white;
}

.pure-button:focus, .pure-button-focus,.calendarButtonPressed{
    background-image: linear-gradient(rgb(240,240,240), white);
    color: rgba(0,0,0, 0.8);
}

.pure-button-active, .pure-button:active {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 0px 3px rgba(0, 0, 0, 0.2) inset;
}

*/

/********** CSS FOR BUTTONS (MAC THEME) STARTS ************/

.pure-button-error {
    background: none repeat scroll 0% 0% rgb(202, 60, 60);
}

.pure-button-success, .pure-button-error, .pure-button-warning, .pure-button-secondary {
    color: white;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button, .button111, .button111:focus {
    font-size: 11px !important;
    padding: 4px 8px 4px 6px !important;
    color: rgba(0, 0, 0, 0.8);
    border: 0px none transparent;
    background-color: rgb(230, 230, 230);
    text-decoration: none;
    border-radius: 0px 0px 0px 0px;
    transition: box-shadow 0.1s linear 0s;
    font-family: inherit;
    font-weight: bold;
    margin: -2px !important;
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.pure-button-left {
    border-radius: 10px 0px 0px 10px !important;
}

.pure-button-right {
    border-radius: 0px 10px 10px 0px !important;
}

.pure-button:focus {
    outline: 0px none;
}

.pure-button-hover, .pure-button:hover, .button111:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button:focus, .calendarButtonPressed {
    background-image: linear-gradient(#777777, #343434);
    color: white;
    transition: box-shadow 0.1s linear 0s;
    text-decoration: none;
}

.pure-button {
    font-family: inherit;
}

.pure-button-active, .pure-button:active, .button111 {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 0px 3px rgba(0, 0, 0, 0.2) inset;
}

/********** CSS FOR BUTTONS (MAC THEME) ENDS ************/

/********** CSS FOR COVERFLOW STARTS (CSS ONLY FOR CONTAINERS, MAIN CSS IN CS_ADD-ON) ************/

#myImageFlow {
    margin-top: -50px;

}

#imageflowContainer {
    border-radius: 4px;
    margin: 4px 4px 4px 4px;
    background: transparent;
    border: 1px solid #c5c5c5;
    position: relative;
    float: left;
    width: 60%;
    z-index: 5;
    height: 335px !important;
}

#coverInfo {

    float: right;
    width: 38%;
    position: relative;
    height: 335px;
    z-index: 1;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    margin: 4px;

}

#coverMaster {
    z-index: 0;
    width: 100%;
    border: 2px solid #c5c5c5;
    border-radius: 4px;
    background-color: white;
    height: 350px;
}

#coverMain {
    display: none;
}

.linkOfCoverflowItem {
    word-wrap: break-word;
}

/********** CSS FOR COVERFLOW ENDS ************/

/********** OVERRIDDEN CSS FOR GANTT **********/

.GECellSpaceEdit:hover {
    background-color: white !important;
    cursor: text !important;
}

.GEClassFocusedCell {
    background-color: #eee !important;
}
